<style>
    strong  {
        color: cornflowerblue;
    }
</style>
<div style="float: left;width: 15% ;height: 100vh; background-color:rgb(214, 210, 210); text-align: center;" class="p-2">
    <h3>File info</h3>
</div>
<div class="p-3 container" style="float: left; width:85%">
    <p><strong>ID: </strong>{{id}}</p><hr>
    <p><strong>Name: </strong>{{name}}</p><hr>
    <p><strong>Path: </strong>{{path}}</p><hr>
    <p><strong>Size: </strong>{{size}}</p><hr>
    <p><strong>Type: </strong>{{type}}</p><hr>
    <p><strong>Save Date: </strong>{{savedate}}</p><hr>
</div>
